
<%- include("partials/header") %> 
<h1>Home</h1>
<p> <%= homeContent %>  </p>
<% contentArray.forEach(post => { %>
   <h1> <%= post.title %> </h1>
   <p> <%= post.body.slice(0,100) %> ...<a href="<%= post.link %>" >Read More</a></p>
<% }); %>



<%- include("partials/footer") %> 